<form>

    <div class="form-group">
        <label for="email">{{ 'correo.electronico' | translate }}</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="nombre">{{ 'nombre.completo' | translate }}</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>

    <div class="form-group">
        <label for="archivo_adjunto">{{ 'adjuntar.archivo' | translate }}</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="archivo_adjunto" name="archivo_adjunto">
            <label class="custom-file-label" for="archivo_adjunto" data-browse="Examinar">Seleccionar un archivo</label>
        </div>
    </div>

</form>