<form #form="ngForm" (ngSubmit)="calcular(form)">

    <div class="form-group">
        <label for="email">{{ 'correo.electronico' | translate }}</label>
        <input [(ngModel)]="email" email required
            [ngClass]="{'is-invalid': form.submitted && form.controls['email'].errors}" type="email"
            class="form-control" id="email" name="email">
        <div *ngIf="form.submitted && form.controls['email'].errors && form.controls['email'].errors['required']"
            class="invalid-feedback">
            {{ 'campo.obligatorio' | translate }}
        </div>
        <div *ngIf="form.submitted && form.controls['email'].errors && form.controls['email'].errors['email']"
            class="invalid-feedback">
            {{ 'correo.invalido' | translate }}
        </div>
    </div>

    <div class="form-group">
        <label for="nombre">{{ 'nombre.completo' | translate }}</label>
        <input [(ngModel)]="nombre" required
            [ngClass]="{'is-invalid': form.submitted && form.controls['nombre'].errors}" type="text"
            class="form-control" id="nombre" name="nombre">
        <div *ngIf="form.submitted && form.controls['nombre'].errors" class="invalid-feedback">
            {{ 'campo.obligatorio' | translate }}
        </div>
    </div>

    <!-- 
        <div class="form-group">
            <div class="custom-file">
                <input [(ngModel)]="archivo" type="file" class="custom-file-input" id="archivo_adjunto"
                name="archivo_adjunto">
                <label class="custom-file-label" for="archivo_adjunto" data-browse="Examinar">Seleccionar un archivo</label>
            </div>
        </div>
    -->
    <div class="form-group">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre Archivo Adjunto</th>
                            <!-- 
                                <th>Tamaño</th>
                                <th>Progreso</th>
                            -->
                            <th>
                                <button *ngIf="archivos.length > 0" (click)="eliminarArchivos()"
                                    class="btn btn-danger btn-sm btn-block">Eliminar Todos</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let archivo of archivos">
                            <td [ngClass]="{'text-green': archivo.progreso >= 100}">{{ archivo.nombreArchivo }}</td>
                            <!-- 
                                <td>{{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }} MB</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{'width': archivo.progreso + '%'}">
                                        </div>
                                    </div>
                                </td>
                            -->
                            <td>
                                <button (click)="eliminarArchivo(archivo)"
                                    class="btn btn-danger btn-sm btn-block">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <label>{{ 'adjuntar.archivo' | translate }}</label>
                <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event"
                    [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
                    <label class="inputFile" for="cajaEjemplo">Arrastre sus archivos o pulse aquí para adjuntar
                        archivos</label>
                    <img src="assets/img/descarga.jpg">
                    <input class="inputFile" id="cajaEjemplo" type="file" (change)="cargarFichero($event)">
                </div>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">{{ 'enviar.boton' | translate }}</button>

</form>