<form>

    <div class="form-group">
        <label for="tarifa">{{ 'tarifa.titulo' | translate }}</label>
        <select name="tarifa" class="form-control">
            <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">{{ tarifa.tarifa }}</option>
        </select>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-6">
                <label for="precio-potencia">{{ 'precio.potencia' | translate }}</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="{{ 'precio.potencia' | translate }}">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ 'ekW' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="precio-potencia">{{ 'contratada.potencia' | translate }}</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="{{ 'contratada.potencia' | translate }}">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ 'kW' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-6">
                <label for="precio-energia">{{ 'precio.energia' | translate }}</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-energia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-energia" name="precio-energia"
                        placeholder="{{ 'precio.energia' | translate }}">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ 'ekWh' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="precio-potencia">{{ 'consumida.energia' | translate }}</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="{{ 'consumida.energia' | translate }}<">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ 'kWh' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col-6">
                <label for="precio-atr">{{ 'precio.atr' | translate }}<</label> <!-- Tipo Number(float) -->
                        <!-- Sacar tantas cajas como precio-ATR tenga la tarifa en la tabla -->
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="precio-atr" name="precio-energia"
                                placeholder="{{ 'precio.atr' | translate }}<">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
                            </div>
                        </div>
            </div>
            <div class="col-6">
                <label for="precio-potencia">{{ 'consumida.atr' | translate }}</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="{{ 'consumida.atr' | translate }}<">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ 'kWh' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="tipo_contrato">{{ 'tipo.contrato' | translate }}</label>
        <select name="tipo_contrato" class="form-control">
            <option *ngFor="let ori of origenes" [value]="ori.idOrigen">{{ ori.origen }}</option>
        </select>
    </div>

</form>