<form>

    <div class="form-group">
        <label for="tarifa">Tarifa</label>
        <select name="tarifa" class="form-control" aria-placeholder="Tarifa">
            <option>0</option>
            <option>1</option>
            <option>2</option>
        </select>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-6">
                <label for="precio-potencia">Precio de la Potencia</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="Precio - Potencia">
                    <div class="input-group-prepend">
                        <div class="input-group-text">€/kW</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="precio-potencia">Potencia contratada</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="Potencia contratada">
                    <div class="input-group-prepend">
                        <div class="input-group-text">kW</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-6">
                <label for="precio-energia">Precio - Energía</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-energia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-energia" name="precio-energia"
                        placeholder="Precio - Energía">
                    <div class="input-group-prepend">
                        <div class="input-group-text">€/kWh</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="precio-potencia">Energía consumida</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="Energía consumida">
                    <div class="input-group-prepend">
                        <div class="input-group-text">kWh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col-6">
                <label for="precio-atr">Precio - ATR</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-ATR tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-atr" name="precio-energia"
                        placeholder="Precio - ATR">
                    <div class="input-group-prepend">
                        <div class="input-group-text">€/kWh</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="precio-potencia">ATR consumida</label>
                <!-- Tipo Number(float) -->
                <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
                <div class="input-group mb-2">
                    <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
                        placeholder="ATR consumida">
                    <div class="input-group-prepend">
                        <div class="input-group-text">kWh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="tipo_contrato">Tipo Contrato</label>
        <select name="tipo_contrato" class="form-control" aria-placeholder="Tipo Contrato">
            <option>Fijo</option>
            <option>Variable</option>
        </select>
    </div>

</form>