<div class="row">
    <div class="col-12 mt-4 mb-4">

        <div class="row">
            <div class="card-deck">
                <div class="card text-center border-secondary">
                    <div class="card-header">{{ 'opcion.simple.tit' | translate}}</div>
                    <div class="card-body">
                        <p class="card-text">{{ 'opcion.simple.des' | translate}}.</p>
                    </div>
                    <div class="card-footer">
                        <button (click)="mostrarOpcion('sencillo');scroll(abajo);"
                            class="btn btn-dark">{{ 'boton.mostrar' | translate }}</button>
                    </div>
                </div>
                <div class="card text-center border-secondary">
                    <div class="card-header">{{ 'opcion.completa.tit' | translate}}</div>
                    <div class="card-body">
                        <p class="card-text">{{ 'opcion.completa.des' | translate}}.</p>
                    </div>
                    <div class="card-footer">
                        <button (click)="mostrarOpcion('complejo');scroll(abajo);"
                            class="btn btn-dark">{{ 'boton.mostrar' | translate }}</button>
                    </div>
                </div>
                <div class="card text-center border-secondary">
                    <div class="card-header">{{ 'opcion.imagen.tit' | translate}}</div>
                    <div class="card-body">
                        <p class="card-text">{{ 'opcion.imagen.des' | translate}}.</p>
                    </div>
                    <div class="card-footer">
                        <button (click)="mostrarOpcion('imagen');scroll(abajo);"
                            class="btn btn-dark">{{ 'boton.mostrar' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <div class="card" *ngIf="opcion != ''">
            <div class="card-body bg-light border-dark">
                <p id="formulario"></p>
                <app-calculo-simple *ngIf="opcion == 'sencillo'"></app-calculo-simple>

                <app-calculo-complejo *ngIf="opcion == 'complejo'"></app-calculo-complejo>

                <app-calculo-imagen *ngIf="opcion == 'imagen'"></app-calculo-imagen>
            </div>
        </div>
    </div>
</div>
<a #abajo></a>