<form #form="ngForm" (ngSubmit)="calcular(form)">

    <div class="form-group">
        <label for="tarifa">{{ 'tarifa.titulo' | translate }}</label>

        <select [(ngModel)]="tarifa" (change)="cargarPotenciaEnergia()"
            [ngClass]="{'is-invalid': form.submitted && form.controls['tarifa'].errors}" required name="tarifa"
            class="form-control">
            <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">
                {{ tarifa.tarifa }}</option>
        </select>
        <div *ngIf="form.submitted && form.controls['tarifa'].errors" class="invalid-feedback">
            {{ 'campo.obligatorio' | translate }}
        </div>
    </div>

    <div class="form-group" *ngIf="tarifa">
        <label for="precio-potencia">{{ 'precio.potencia' | translate }}</label>
        <div class="input-group mb-2" *ngIf="pPoteData.p1">
            <input [(ngModel)]="pPoteUsu.p1"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia'] && form.controls['precio_potencia'].errors}"
                required number type="number" class="form-control" id="precio_potencia" name="precio_potencia"
                placeholder="{{ 'precio.potencia' | translate }} (P1)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekW' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_potencia'] && form.controls['precio_potencia'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pPoteData.p2">
            <input [(ngModel)]="pPoteUsu.p2" *ngIf="pPoteData.p2 && pPoteData.p1"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia2'] && form.controls['precio_potencia2'].errors}"
                required number type="number" class="form-control" id="precio_potencia2" name="precio_potencia2"
                placeholder="{{ 'precio.potencia' | translate }} (P2)">
            <input [(ngModel)]="pPoteUsu.p2" *ngIf="!pPoteData.p1"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia2'] && form.controls['precio_potencia2'].errors}"
                required number type="number" class="form-control" id="precio_potencia2" name="precio_potencia2"
                placeholder="{{ 'precio.potencia' | translate }} (P1)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekW' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_potencia2'] && form.controls['precio_potencia2'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pPoteData.p3">
            <input [(ngModel)]="pPoteUsu.p3"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia3'] && form.controls['precio_potencia3'].errors}"
                required number type="number" class="form-control" id="precio_potencia3" name="precio_potencia3"
                placeholder="{{ 'precio.potencia' | translate }} (P3)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekW' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_potencia3'] && form.controls['precio_potencia3'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pPoteData.p4">
            <input [(ngModel)]="pPoteUsu.p4"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia4'] && form.controls['precio_potencia4'].errors}"
                required number type="number" class="form-control" id="precio_potencia4" name="precio_potencia4"
                placeholder="{{ 'precio.potencia' | translate }} (P4)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekW' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_potencia4'] && form.controls['precio_potencia4'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pPoteData.p5">
            <input [(ngModel)]="pPoteUsu.p5"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia5'] && form.controls['precio_potencia5'].errors}"
                required number type="number" class="form-control" id="precio_potencia5" name="precio_potencia5"
                placeholder="{{ 'precio.potencia' | translate }} (P5)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekW' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_potencia5'] && form.controls['precio_potencia5'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pPoteData.p6">
            <input [(ngModel)]="pPoteUsu.p6"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_potencia6'] && form.controls['precio_potencia6'].errors}"
                required number type="number" class="form-control" id="precio_potencia6" name=" precio_potencia6"
                placeholder="{{ 'precio.potencia' | translate }} (P6)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekW' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_potencia6'] && form.controls['precio_potencia6'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="tarifa">
        <label for="precio-energia">{{ 'precio.energia' | translate }}</label>
        <div class="input-group mb-2" *ngIf="pEnerData.p1">
            <input [(ngModel)]="pEnerUsu.p1"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_energia'] && form.controls['precio_energia'].errors}"
                required number type="number" class="form-control" id="precio_energia" name="precio_energia"
                placeholder="{{ 'precio.energia' | translate }} (E1)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_energia'] && form.controls['precio_energia'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pEnerData.p2">
            <input [(ngModel)]="pEnerUsu.p2"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_energia2'] && form.controls['precio_energia2'].errors}"
                required number type="number" class="form-control" id="precio_energia2" name="precio_energia2"
                placeholder="{{ 'precio.energia' | translate }} (E2)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_energia2'] && form.controls['precio_energia2'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pEnerData.p3">
            <input [(ngModel)]="pEnerUsu.p3"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_energia3'] && form.controls['precio_energia3'].errors}"
                required number type="number" class="form-control" id="precio_energia3" name="precio_energia3"
                placeholder="{{ 'precio.energia' | translate }} (E3)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_energia3'] && form.controls['precio_energia3'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pEnerData.p4">
            <input [(ngModel)]="pEnerUsu.p4"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_energia4'] && form.controls['precio_energia4'].errors}"
                required number type="number" class="form-control" id="precio_energia4" name="precio_energia4"
                placeholder="{{ 'precio.energia' | translate }} (E4)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_energia4'] && form.controls['precio_energia4'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pEnerData.p5">
            <input [(ngModel)]="pEnerUsu.p5"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_energia5'] && form.controls['precio_energia5'].errors}"
                required number type="number" class="form-control" id="precio_energia5" name="precio_energia5"
                placeholder="{{ 'precio.energia' | translate }} (E5)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_energia5'] && form.controls['precio_energia5'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
        <div class="input-group mb-2" *ngIf="pEnerData.p6">
            <input [(ngModel)]="pEnerUsu.p6"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_energia6'] && form.controls['precio_energia6'].errors}"
                required number type="number" class="form-control" id="precio_energia6" name="precio_energia6"
                placeholder="{{ 'precio.energia' | translate }} (E6)">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'ekWh' | translate }}</div>
            </div>
            <div *ngIf="form.submitted && form.controls['precio_energia6'] && form.controls['precio_energia6'].errors"
                class="invalid-feedback">
                {{ 'campo.obligatorio' | translate }}
            </div>
        </div>
    </div>

    <!-- 
        <div class="form-group">
            <label for="precio-atr">{{ 'precio.atr' | translate }}</label>
            <div class="input-group mb-2">
                <input [(ngModel)]="precioAtr"
                [ngClass]="{'is-invalid': form.submitted && form.controls['precio_atr'].errors}" required numberS
                type="number" class="form-control" id="precio_atr" name="precio_atr"
                placeholder="{{ 'precio.atr' | translate }}">
                <div class="input-group-prepend">
                    <div class="input-group-text">{{ 'ekWh' | translate }}</div>
                </div>
                <div *ngIf="form.submitted && form.controls['precio_atr'].errors" class="invalid-feedback">
                    {{ 'campo.obligatorio' | translate }}
                </div>
            </div>
        </div>
    -->
    <!-- 

        <div class="form-group">
            <label for="tipo_contrato">{{ 'tipo.contrato' | translate }}</label>
            <select [(ngModel)]="tipoContrato"
            [ngClass]="{'is-invalid': form.submitted && form.controls['tipo_contrato'].errors}" required
            name="tipo_contrato" class="form-control">
            <option *ngFor="let tipoContr of tiposContrato" [value]="tipoContr.id">{{ tipoContr.nombre }}</option>
        </select>
        <div *ngIf="form.submitted && form.controls['tipo_contrato'].errors" class="invalid-feedback">
            {{ 'campo.obligatorio' | translate }}
        </div>
    </div>
    -->

    <button *ngIf="tarifa" [disabled]="form.invalid" type="submit"
        class="btn btn-primary">{{ 'calcular.boton' | translate }}</button>

</form>