<form>

    <div class="form-group">
        <label for="tarifa">{{ 'tarifa.titulo' | translate }}</label>
        <select name="tarifa" class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
        </select>
    </div>

    <div class="form-group">
        <label for="precio-potencia">{{ 'precio.potencia' | translate }}</label>
        <!-- Tipo Number(float) -->
        <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
        <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
            placeholder="{{ 'precio.potencia' | translate }}">
    </div>

    <div class="form-group">
        <label for="precio-energia">{{ 'precio.energia' | translate }}</label>
        <!-- Tipo Number(float) -->
        <!-- Sacar tantas cajas como precio-energia tenga la tarifa en la tabla -->
        <input type="number" class="form-control" id="precio-energia" name="precio-energia"
            placeholder="{{ 'precio.energia' | translate }}">
    </div>


    <div class="form-group">
        <label for="precio-atr">{{ 'precio.atr' | translate }}</label>
        <!-- Tipo Number(float) -->
        <!-- Sacar tantas cajas como precio-ATR tenga la tarifa en la tabla -->
        <input type="number" class="form-control" id="precio-atr" name="precio-energia"
            placeholder="{{ 'precio.atr' | translate }}">
    </div>


    <div class="form-group">
        <label for="tipo_contrato">{{ 'tipo.contrato' | translate }}</label>
        <select name="tipo_contrato" class="form-control">
            <option>Fijo</option>
            <option>Variable</option>
        </select>
    </div>

</form>