<form>

    <div class="form-group">
        <label for="tarifa">Tarifa</label>
        <select name="tarifa" class="form-control" aria-placeholder="Tarifa">
            <option>0</option>
            <option>1</option>
            <option>2</option>
        </select>
    </div>

    <div class="form-group">
        <label for="precio-potencia">Precio - Potencia</label>
        <!-- Tipo Number(float) -->
        <!-- Sacar tantas cajas como precio-potencia tenga la tarifa en la tabla -->
        <input type="number" class="form-control" id="precio-potencia" name="precio-potencia"
            placeholder="Precio - Potencia">
    </div>

    <div class="form-group">
        <label for="precio-energia">Precio - Energía</label>
        <!-- Tipo Number(float) -->
        <!-- Sacar tantas cajas como precio-energia tenga la tarifa en la tabla -->
        <input type="number" class="form-control" id="precio-energia" name="precio-energia"
            placeholder="Precio - Energía">
    </div>


    <div class="form-group">
        <label for="precio-atr">Precio - ATR</label>
        <!-- Tipo Number(float) -->
        <!-- Sacar tantas cajas como precio-ATR tenga la tarifa en la tabla -->
        <input type="number" class="form-control" id="precio-atr" name="precio-energia" placeholder="Precio - ATR">
    </div>


    <div class="form-group">
        <label for="tipo_contrato">Tipo Contrato</label>
        <select name="tipo_contrato" class="form-control" aria-placeholder="Tipo Contrato">
            <option>Fijo</option>
            <option>Variable</option>
        </select>
    </div>

</form>